<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualStudio.Delphi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisualStudio.Delphi.Properties.Settings>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Locations" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSameFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertProject" serializeAs="String">
                <value />
            </setting>
        </VisualStudio.Delphi.Properties.Settings>
    </userSettings>
</configuration>